# 🔒 Arquivos sensíveis
.env

# 🐍 Arquivos Python compilados
__pycache__/
*.py[cod]
*$py.class

# 📦 Ambientes virtuais
venv/
.venv/
env/
ENV/
env.bak/

# ⚙️ Configurações de IDEs
.vscode/
.idea/
*.swp

# 🗃️ Arquivos de banco e cache locais
db.sqlite3
*.sqlite3
*.db
*.log



# 🧪 Cobertura de testes
htmlcov/
.coverage
coverage.xml
.tox/
.pytest_cache/

# 🔍 Arquivos do sistema
.DS_Store
Thumbs.db

# 🔄 Docker & Heroku (se usar)
*.pid
*.tgz
*.bak
*.tmp
*.lock
