<!-- backend/templates/account/complete_profile.html -->

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Complete seu Perfil</h2>

    <label for="first_name">Primeiro Nome:</label>
    <input type="text" name="first_name" value="{{ user.first_name }}" required>

    <label for="last_name">Último Nome:</label>
    <input type="text" name="last_name" value="{{ user.last_name }}" required>

    <label for="phone_number">Telefone:</label>
    <input type="text" name="phone_number" value="{{ user.phone_number }}" required>

    <label for="receive_notifications">Receber notificações no telefone:</label>
    <input type="checkbox" name="receive_notifications" {% if user.receive_notifications %}checked{% endif %}>

    <label for="cpf">CPF:</label>
    <input type="text" name="cpf" value="{{ user.cpf }}" required>

    <label for="photo">Foto de Perfil:</label>
    <input type="file" name="photo">

    <button type="submit">Salvar</button>
</form>

{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
