{% extends 'core/base.html' %}
{% block title %}Meus Pets Cadastrados - Achou Pet{% endblock %}
{% block content %}


<div class="container mt-5">
    <div class="row">
        <div class="col-3">
            {% include "core/sidebar_user.html" %}
        </div>
        <div class="col-9">
            <h1 class="display-1">Redefinir<span class="color_project"> Senha</span></h1>


        <p>Informe seu e-mail para receber um link de redefinição.</p>
        <form method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

    </div>
        </div>
{% endblock %}