{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Offcanvas navbar large">
   <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">
         <img src="{% static 'images/logo-3.svg' %}" alt="Logo Achou Pet" width="200">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
         <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Menu</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
         </div>
         <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
               <li class="nav-item"><a class="nav-link" href="{% url 'search:lost_pets' %}">Pets Perdidos</a></li>
               <li class="nav-item"><a class="nav-link" href="{% url 'search:adoption_pets' %}">Pets para Adoção</a></li>
               <li class="nav-item"><a class="nav-link" href="{% url 'search:breeding_pets' %}">Pets para Cruzamento</a></li>
            </ul>

            <ul class="navbar-nav ms-auto">
               {% if user.is_authenticated %}
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     {{ user.username }}
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1 0-.708z"/>
                     </svg>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <li><a class="dropdown-item" href="{% url 'pet_registration:register_lost_pet' %}">Cadastro Pet</a></li>
                     <li><a class="dropdown-item" href="{% url 'notifications:chat' %}">Chat</a></li>
                     <li><a class="dropdown-item" href="{% url 'pet_registration:user_pets_list' %}">Pets do Usuário</a></li>
                     <li><a class="dropdown-item" href="{% url 'pet_registration:register_adoption_pet' %}">Cadastro Adoção</a></li>
                     <li><a class="dropdown-item" href="{% url 'pet_registration:register_breeding_pet' %}">Cadastro Reprodução</a></li>
                     <li><a class="dropdown-item" href="{% url 'accounts:profile' %}">Perfil</a></li>
                     <li><a class="dropdown-item" href="#">Configurações</a></li>
                     <li><hr class="dropdown-divider"></li>
                     <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Sair</a></li>
                  </ul>
               </li>
               {% else %}
               <li class="nav-item"><a class="btn background_project" href="{% url 'accounts:register' %}">Cadastro</a></li>
               <li class="nav-item"><a class="btn background_project" href="{% url 'accounts:login' %}">Login</a></li>
               {% endif %}
            </ul>
         </div>
      </div>
   </div>
</nav>

<!-- Bootstrap JS (garantir que está carregado corretamente) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

