{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo-3.svg' %}" alt="Logo Achou Pet" width="200">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'como_funciona' %}">Como Funciona</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'sobre' %}">Sobre</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'search:lost_pets' %}">Pets Perdidos</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'search:adoption_pets' %}">Pets para Adoção</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'search:breeding_pets' %}">Pets para Cruzamento</a></li>
            </ul>

            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <!-- Notificações -->
                    <li class="nav-item position-relative">
                        <a class="nav-link d-flex align-items-center" href="{% url 'notifications:notifications' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                                <path d="M8 16a2 2 0 0 0 1.985-1.75H6.015A2 2 0 0 0 8 16zm.104-14a5 5 0 0 0-4.905 4.01c-.324 1.683-.882 3.058-1.588 4.148a1.007 1.007 0 0 0 .83 1.527h11.118a1.007 1.007 0 0 0 .83-1.527c-.706-1.09-1.264-2.465-1.588-4.148A5 5 0 0 0 8.104 2z"/>
                            </svg>
                            {% if unread_notifications_count > 0 %}
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{ unread_notifications_count }}
                                    <span class="visually-hidden">notificações não lidas</span>
                                </span>
                            {% endif %}
                        </a>
                        <span class="t-12 d-block text-muted small text-center" style="font-size: 0.75rem;">
                            Notificações
                        </span>
                    </li>

                    <!-- Menu do usuário -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'pet_registration:register_lost_pet' %}">Cadastro Pet</a></li>
                            <li><a class="dropdown-item" href="{% url 'notifications:chat' %}">Chat</a></li>
                            <li><a class="dropdown-item" href="{% url 'pet_registration:user_pets_list' %}">Pets do Usuário</a></li>
                            <li><a class="dropdown-item" href="{% url 'pet_registration:register_adoption_pet' %}">Cadastro Adoção</a></li>
                            <li><a class="dropdown-item" href="{% url 'pet_registration:register_breeding_pet' %}">Cadastro Reprodução</a></li>
                            <li><a class="dropdown-item" href="{% url 'profile' %}">Perfil</a></li>
                            <li><a class="dropdown-item" href="#">Configurações</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="btn background_project" href="{% url 'register' %}">Cadastro</a></li>
                    <li class="nav-item"><a class="btn background_project" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<p style="font-size: 0.8rem; color: gray;">
    Usuário logado: {{ request.user.email }} (ID: {{ request.user.id }})
</p>
