{% extends 'core/base.html' %}

{% block title %}Achou Pet - Página Inicial{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1>Política de Privacidade</h1>
        <p>Nós, do Achou Pet, valorizamos sua privacidade. Veja como tratamos seus dados:</p>
        <ul>
            <li><strong>Dados Coletados:</strong> CPF, telefone, e-mail, foto do usuário e informações dos pets.</li>
            <li><strong>Uso dos Dados:</strong> Para cadastro e conexão entre usuários. Não compartilhamos com terceiros, exceto por obrigação legal.</li>
            <li><strong>Segurança:</strong> Usamos medidas técnicas para proteger seus dados.</li>
            <li><strong>Direitos:</strong> Solicite exclusão ou correção pelo e-mail [inserir contato].</li>
            <li><strong>Cookies:</strong> Usamos cookies para melhorar a experiência.</li>
        </ul>
        <p>Última atualização: 08 de março de 2025.</p>
    </div>

{% endblock %}