{% extends 'core/base.html' %}

{% block title %}Achou Pet - Página Inicial{% endblock %}

{% block content %}



    <div class="container my-5">
        <h1>Termos de Uso</h1>
        <p>Bem-vindo ao Achou Pet! Ao utilizar nosso site, você concorda com os seguintes termos:</p>
        <ul>
            <li><strong>Uso do Serviço:</strong> O Achou Pet é uma plataforma gratuita para cadastro de pets perdidos, para adoção ou reprodução. Não é permitido comércio.</li>
            <li><strong>Cadastro:</strong> Forneça informações verdadeiras (CPF, telefone, e-mail, foto) e mantenha-as atualizadas.</li>
            <li><strong>Conteúdo:</strong> Você é responsável pelo que publica. Não poste conteúdo ofensivo ou falso.</li>
            <li><strong>Proibições:</strong> Venda de animais ou uso comercial é proibido. Uso indevido pode levar à exclusão do cadastro.</li>
            <li><strong>Alterações:</strong> Podemos atualizar os termos, notificando por e-mail ou no site.</li>
        </ul>
        <p>Última atualização: 08 de março de 2025.</p>
    </div>

{% endblock %}